/*====RESET=====*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
img {
  width: 100%;
  height: auto;
}

/*=====VARIABLES=====*/

:root {
  --main: hsla(0, 0%, 28%, 1);
  --background-icons: hsla(0, 0%, 96%, 1);
  --card: hsla(0, 0%, 98%, 1);
  --top-bar-height: 5rem;
  --bottom-bar-height: 3.5rem;
  --margin-card: 1.87rem;
  --bottom-icon-size: 1.5rem;
}

/*====TOP-BAR====*/

/*cria top-bar e posiciona*/
#top-bar {
  position: fixed;
}

#top-bar::before {
  content: '';
  width: 22.5rem;
  height: 5rem;
  background: var(--main);
  top: 0;
  z-index: 1;
  position: fixed;
}

/*menu da top-bar*/
.menu-top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 18.75rem;
  margin-left: var(--margin-card);
  margin-right: var(--margin-card);
  margin-bottom: 1rem;
  margin-top: 1rem;
  position: fixed;
  z-index: 1;
  top: 0;
}

/*cria e posiciona elemento decorativo atras da imagem do anuncio */
#dark-card {
  position: absolute;
}

#dark-card::before {
  content: '';
  width: 22.5rem;
  height: 18rem;
  background: var(--main);
  position: absolute;
  z-index: -1;
  border-radius: 0% 0% 50% 50% / 0% 0% 10% 10%;
}

#top-bar .share {
  width: var(--bottom-icon-size);
  height: var(--bottom-icon-size);
  margin-left: 9.56rem;
}

/*====CARD DO ANUNCIO====*/

/*cria e posiona card do anuncio com imagem*/
#card {
  width: 18.75rem;
  height: auto;
  margin-left: var(--margin-card);
  margin-right: var(--margin-card);
  position: relative;
  z-index: -1;
  padding-top: var(--top-bar-height);
  background-color: var(--card);
}

/* descrição do anuncio versão resumida */
#description {
  margin-top: 1.25rem;
  display: grid;
  gap: 0.3125rem;
}
/* botão de mais informações*/
#more-infos {
  display: inline-flex;
  margin-top: 0.625rem;
}

#more-infos .arrow {
  width: var(--bottom-icon-size);
  vertical-align: middle;
}

/*botão para entrar em contato*/
#contact {
  background-color: var(--main);
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 1.625rem;
  margin-top: 1.175rem;
  width: 12.5rem;
  height: 2.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.93rem;
}

/*=====BOTTOM-BAR=====*/

#bottom-bar {
  position: fixed;
  width: 22.5rem;
  height: var(--bottom-bar-height);
  background-color: var(--main);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.bottom-icon {
  width: var(--bottom-icon-size);
  min-height: var(--bottom-icon-size);
  align-items: center;
  position: relative;
  padding-top: 0.5rem;
  padding-bottom: 0.75rem;
}

.home-icon {
  margin-left: 1.56rem;
}
.home-text {
  margin-left: 1.43rem;
}

.favorite-icon {
  margin-left: 4.3125rem;
}

.favorite-text {
  margin-left: 3.3875rem;
}

.chat-icon {
  margin-left: 12.0625rem;
}

.chat-text {
  margin-left: 11.75rem;
}

.profile-icon {
  margin-left: 14.875rem;
}

.profile-text {
  margin-left: 14.7rem;
}

#bottom-bar::before {
  /* elipse do qr scanner*/
  content: '';
  width: 3.75rem;
  height: 3.19rem;
  color: var(--background-icons);
  border-radius: 100%;
  background: var(--background-icons);
  border-style: solid;
  border-width: 0.1875rem;
  border-color: var(--main);
  top: 0;
  position: fixed;
  z-index: 99;
  margin-top: 35.75rem;
  margin-left: 9.375rem;
}

.qr-scanner {
  width: 3rem;
  height: 2.375rem;
  margin-left: 3rem;

  position: relative;
  z-index: 100;
}

/*===Fonts====*/

body {
  font: 400 1rem 'Roboto', sans-serif;
}

.logo {
  font: 400 2.5rem 'Chivo', sans-serif;
  color: var(--background-icons);
}

#description .title {
  font: 700 1.25rem 'Roboto', sans-serif;
}

#description .area {
  font: 700 1rem 'Roboto', sans-serif;
}

#description .location .address .garage .bathrooms {
  font: 400 1rem 'Roboto', sans-serif;
}

#more-infos {
  font: 400 1rem 'Roboto', sans-serif;
  font-style: italic;
}

#contact {
  font: 400 1rem 'Roboto', sans-serif;
  font-size: 1.125rem;
  color: var(--background-icons);
}

.home-text,
.favorite-text,
.chat-text,
.profile-text {
  font: 400 1rem 'Roboto', sans-serif;
  font-size: 0.75rem;
  color: var(--background-icons);
}
