/*====RESET=====*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
img {
  width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  background: transparent; /* make scrollbar transparent */
}
::-webkit-scrollbar {
  display: none;
}
/*=====VARIABLES=====*/

:root {
  --main: hsla(0, 0%, 28%, 1);
  --background-icons: hsla(0, 0%, 96%, 1);
  --card: hsla(0, 0%, 98%, 1);
  --modal: hsla(0, 0%, 96%, 1);
  --top-bar-height: 8.75vh;
  --bottom-bar-height: 3.5rem;
  --bottom-icon-size: 1.5rem;
}

/*====TOP-BAR====*/

/*cria top-bar e posiciona*/

#top-bar {
  width: 100%;
  height: var(--top-bar-height);
  background: var(--main);
  top: 0;
  left: 0;
  z-index: 100;
  position: fixed;
}

/*menu da top-bar*/
.menu-top {
  height: var(--top-bar-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  position: relative;
  z-index: 15;
  margin-left: calc(8.3335%);
  margin-right: calc(8.3335%);
  margin-top: 0.5rem;
}

#open-share-modal {
  width: var(--bottom-icon-size);
  height: var(--bottom-icon-size);
}

#open-share-modal.active {
  visibility: hidden;
}

/*====CARD DO ANUNCIO====*/

#card-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 0;
  z-index: 10;
  display: grid;
  justify-content: center;
}

/*cria e posiciona elemento decorativo atras da imagem do anuncio */
.dark-card::before {
  content: '';
  width: 100%;
  height: 45vh;
  max-height: 19rem; /*media para iphone e galaxyfold*/
  position: absolute;
  background: var(--main);
  z-index: 0;
  left: 0%;
  border-radius: 0% 0% 50% 50% / 0% 0% 7% 7%;
}

/*cria e posiona card do anuncio com imagem*/
.card {
  width: 83.334vw;
  height: 66.25vh;
  position: relative;
  z-index: 0;
  background-color: var(--card);
  top: calc(var(--top-bar-height) + 1.125rem);
  border-radius: 5% 5% 0 0;
  transform: translateX(0%);
  overflow-y: scroll;
  padding-bottom: 2rem;
}

.favorite-button {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  background-color: var(--main);
  display: grid;
  justify-content: center;
  align-content: center;
  position: absolute;
  top: 0%;
  right: 0%;
  margin: 1.5625rem 0.9375rem;
}

.favorite-button-icon {
  width: 1.375rem;
  max-height: 1.375rem;
}

.favorite-button-icon.favorited {
}

.main-photo {
  height: 34.689vh;
}

.card .main-photo img {
  border-radius: 5%;
  height: 34.689vh;
  object-fit: cover;
}

/* descrição do anuncio versão resumida */
.description {
  margin-top: 0.9375rem;
  display: grid;
  gap: 0.5rem;
}
/* botão de mais informações*/
#more-infos {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

#more-infos .arrow {
  width: 1.125rem;
  vertical-align: middle;
}

/*botão para entrar em contato*/
#contact-button {
  background-color: var(--main);
  width: 12.5rem;
  height: 2.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.93rem;
  position: fixed;
  z-index: 100;
  bottom: 10.313%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  border: none;
  outline: none;
}

/* ======== MODALS======== */

#modals {
  display: grid;
  position: fixed;
  z-index: 9999;
  bottom: 0%;
  width: 83.33vw;
  margin-left: 8.335%;
  margin-right: 8.335%;
  visibility: hidden;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
}

.modal-overlay.show {
  visibility: visible;
  opacity: 1;
}

.gallery-overlay {
  background-color: rgba(0, 0, 0, 1);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
}

.gallery-overlay.show {
  visibility: visible;
  opacity: 1;
}

/*======GALLERY-MODAL======*/

#gallery-modal.show {
  visibility: visible;
}

#gallery-modal .main-photo {
  width: 100%;
  height: auto;
  max-height: 38vh;
  object-fit: contain;
  position: fixed;
  z-index: 80;
  margin-top: -55vh;
  left: 0%;
}

#gallery-modal .gallery-row {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 0.5rem;
  grid-auto-flow: column;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100vw;
  height: 12.5vh;
  bottom: 0%;
  margin-top: -20vh;
  margin-left: -5%;
}

.announce-photos {
  background-color: var(--main);
  width: 26.67vw;
  height: 10vh;
  position: relative;
  z-index: 90;
  object-fit: cover;
}

.show-border {
  transform: translateY(-10%);
  transition: 0.2s;
}

/*======CONTACT-MODAL======*/

#contact-modal {
  background-color: var(--modal);
  visibility: hidden;
  width: 83.33vw;
  height: 66.41vh;
  max-height: 28rem;
  min-height: 28rem;
  border-radius: 5% 5% 0 0;
  position: absolute;
  z-index: 130;
  bottom: 0%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  transform: translateY(100%);
  transition: 0.1s;
}

#contact-modal.show {
  transform: translateY(0%);
  visibility: visible;
}

.divider-contact-1 {
  border: 0;
  border-top: 1px solid #ccc;
  height: 1px;
}
.divider-contact-2 {
  border: 0;
  border-top: 1px solid #ccc;
  height: 1px;
  margin-top: -0.3125rem;
}

#contact-modal-main .contact-infos {
  display: grid;
  gap: 0.5rem;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

#contact-modal-main .contact-icons {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 33.33%);
  height: 16.41vh;
  position: relative;
  margin-top: 0.8125rem;
}

#contact-modal-main .contact-icons img,
.contact-icon-label {
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  justify-content: center;
  margin-top: 0.3125rem;
}

#contact-modal-main .contact-whatsapp-icon {
  margin-left: 7vw;
}

#contact-modal-main .contact-messenger-icon {
  margin-right: 7vw;
}

#contact-modal-main .contact-icon-label {
  margin-top: 0.18rem;
}

/*======SHARE-MODAL======*/

#share-modal-main {
  visibility: hidden;
}

#share-modal {
  visibility: hidden;
  background-color: var(--modal);
  width: 83.33vw;
  height: 31.875vh;
  min-height: 12.75rem;
  max-height: 14rem;
  border-radius: 5% 5% 0 0;
  position: absolute;
  padding-top: 0.9375rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  transform: translateY(100%);
  transition: 0.1s;
  bottom: 0;
}

#share-modal.show {
  transform: translateY(0%);
  visibility: visible;
}

.divider-share {
  border: 0;
  border-top: 1px solid #ccc;
  height: 1px;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  margin-top: 0.5rem;
}

#share-modal-main .share-icons {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 33.33%);
  grid-template-rows: repeat(2, 4.875rem);
  position: relative;
}

#share-modal-main .share-icons img,
.share-icon-label {
  width: 2.5rem;
  height: 2.5rem;
  margin-top: 0.5rem;
  display: grid;
  justify-content: center;
}

#share-modal-main .share-icon-label {
  margin-top: 0.2rem;
  height: 1rem;
}

#share-modal-main .whatsapp-icon,
.telegram-icon,
.messenger-icon {
  margin-top: 0.3125rem;
}
#share-modal-main .messenger-icon,
.copy-url-icon {
  margin-right: 4.33vw;
}

#share-modal-main .whatsapp-icon,
.facebook-icon {
  margin-left: 4.33vw;
}

/*======MORE-INFOS-MODAL======*/

#more-infos-modal {
  background-color: var(--card);
  visibility: hidden;
  width: 83.33vw;
  height: calc(100vh - var(--top-bar-height));
  border-radius: 0.9375rem 0.9375rem 0 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  transition: 0.1s;
  overflow-y: auto;
  bottom: 0%;
  transform: translateY(100%);
  position: absolute;
}

#more-infos-modal.show {
  visibility: visible;
  transform: translateY(0%);
}

.description.infos-full {
  display: grid;
  gap: 1rem;
  margin-bottom: 1rem;
}

.infos-divider {
  background-color: white;
  height: 2rem;
}

.condominium.description.infos-full {
  visibility: visible;
}

/*====DOWNLOAD-APP-MODAL=====*/

#download-app-modal {
  visibility: hidden;
  width: 83.334vw;
  height: 77vh;
  position: absolute;
  z-index: 100;
  border-radius: 5% 5% 0 0;
  transform: translateX(0%);
  display: grid;
  justify-items: center;
  background-color: var(--card);
  bottom: +12vh;
}

#download-app-modal.active {
  visibility: visible;
}

.menu-top.active {
  display: grid;
  justify-content: center;
  margin-top: 0;
}

.logo-photo {
  width: 100%;
}

.download-infos {
  display: grid;
  justify-items: center;
  gap: 1vh;
  position: relative;
  bottom: 0%;
}

.badge {
  width: 45vw;
  max-width: 15rem;
}

/*=====BOTTOM-BAR=====*/

#bottom-bar {
  height: 3.5rem;
  display: grid;
  background-color: var(--main);
  grid-template-columns: repeat(1, 100vw);
  position: fixed;
  z-index: 50;
  bottom: 0%;
  left: 0;
  z-index: 30;
}

#icon-bar {
  height: 3rem;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(5, 20vw);
  position: absolute;
  top: 0%;
  margin-top: 0.5rem;
}

.qr-background {
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--background-icons);
  position: relative;
  border-radius: 100%;
  outline: thick solid var(--main);
  margin-top: -0.9375rem;
  display: grid;
  align-content: center;
  padding-top: 0.2rem;
}

#icon-bar .qr-icon {
  width: 3rem;
  height: 2.375rem;
  position: relative;
}

#icon-bar img {
  width: auto;
  height: auto;
}

#icon-bar div {
  text-align: center;
}

.bottom-icon-label {
  margin-top: -0.25rem;
}

/*===FONTS-TEXT====*/

/*==TOP E CARD==*/

.logo {
  /* logo titulo da pagina */
  font: 300 2.5rem 'Chivo', sans-serif;
  color: var(--background-icons);
  text-align: left;
}

.logo.active {
  /* logo da pagina de download*/
  font-size: 3.5rem;
}

.description .card-title {
  /*titulo do card*/
  font: 700 1.25rem 'Roboto', sans-serif;
  margin-left: 0.625rem;
}

.description .area {
  font: 700 1rem 'Roboto', sans-serif;
  margin-left: 0.625rem;
}

.description .info-text {
  /*informações do card*/
  font: 400 1rem 'Roboto', sans-serif;
  margin-left: 0.625rem;
}

#more-infos a {
  font: 400 1rem 'Roboto', sans-serif;
  color: var(--main);
  text-decoration: none;
  margin-left: 0.625rem;
}

#contact-button a {
  /*botão entrar em contato*/
  font: 400 1rem 'Roboto', sans-serif;
  font-size: 1.125rem;
  color: var(--background-icons);
}

.bottom-icon-label {
  /*label icones bottom-bar*/
  font: 400 'Roboto', sans-serif;
  font-size: 0.75rem;
  color: var(--background-icons);
  display: grid;
}

/*======MODALS======*/

.contact-title {
  /*titulo modal contact*/
  font: 300 1rem 'Roboto', sans-serif;
  font-size: 1.375rem;
  font-style: italic;
  color: var(--main);
  margin-left: 1.25rem;
  margin-top: 0.9375rem;
}

#modals .seller-name {
  /*nome do anunciante*/
  font: 700 1.25rem 'Roboto', sans-serif;
  margin-top: 0.5rem;
}

#modals .cod {
  /*codigo do anuncio*/
  font: 400 1rem 'Roboto', sans-serif;
  color: rgba(151, 151, 151, 1);
  font-style: medium;
  text-decoration: underline;
}

#modals .label-text {
  /*label infos do contact-modal*/
  font: 500 1rem 'Roboto', sans-serif;
  color: var(--main);
  font-style: medium;
  margin-top: 0.5rem;
  display: grid;
  gap: 0.9375rem;
}

.send-a-message {
  /*label envie mensage do contact-modal*/
  font: 500 1rem 'Roboto', sans-serif;
  color: var(--main);
  font-style: medium;
  margin-top: 1.3125rem;
}

.contact-icon-label {
  /*labels icones contact*/
  font: 400 0.625rem 'Roboto', sans-serif;
  color: var(--main);
}

.share-icon-label {
  /*labels icones share*/
  font: 400 0.625rem 'Roboto', sans-serif;
  color: var(--main);
}

.share-this {
  /*titulo modal share*/
  font: 300 1.25rem 'Roboto', sans-serif;
  color: var(--main);
  font-style: italic;
  margin-left: 1.875rem;
}

.infos-full .card-title {
  /*titulo anuncio modal mais infos */
  font: 700 1.25rem 'Roboto', sans-serif;
  margin-left: 0.625rem;
  margin-top: 0.9375rem;
}

.infos-full .area {
  /*area anuncio modal mais infos */
  font: 700 1rem 'Roboto', sans-serif;
  margin-left: 0.625rem;
}

.infos-full .info-text {
  /*descrição modal mais infos */
  font: 400 1rem 'Roboto', sans-serif;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  line-height: 1.25rem;
}

.download-label {
  font: 500 1.25rem 'Roboto', sans-serif;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: var(--main);
  position: relative;
}

.back-to-announce {
  color: var(--main);
  font-size: 1.15rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  text-decoration: underline;
  position: relative;
}
